.body{
  background-color: black;
  padding-top: 50px;
  padding-left: 50px;
  font-family: roboto, sans-serif;
  padding-bottom: 150px;
}
.body > img{
width: 150px;
margin-bottom: 50px;
height: 100px;

}

.section{
height: 200px;
margin-bottom: 50px;
color: blanchedalmond;
display: flex;
flex-direction: row;
overflow-x: scroll;


}
h1{
  color:white;
  font-size: 20px;
  margin-bottom: 20px;
}
img{
  height: max-content;
}
::-webkit-scrollbar { 
  display: none; 
}
.footer{
  
  text-align: center;
  margin-top: 200px;
  font-size: 30px;
  font-weight: bold;
  color: white;
}